[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=api
Group=api
WorkingDirectory=/home/api/app/src/
Environment="PATH=/home/api/app/venv/bin"
EnvironmentFile=/home/api/.env
ExecStart=/home/api/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target 